/* CartPage.css */

/* General styles */

.cart-page {
  padding: 20px;

}
/* Add a new CSS class for the background image */
.cart-page {
  padding: 20px;
  background-image: url("../../images/bg-landing-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cart-item {
  display: flex;
  background-color: aliceblue;
  align-items: center;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-details {
  flex: 1;
}

.cart-item h3 {
  margin: 0;
}

.cart-item p {
  margin: 5px 0;
}

.cart-item label {
  margin-right: 5px;
}

.cart-item input[type="number"] {
  margin-left: 5px;
}

.cart-item button {
  margin-top: 10px;
  background-color: #32CD32;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #228B22;
}

.total-price {
  font-weight: bold;
  margin-top: 10px;
}

/* Empty cart message */
.empty-cart {
  font-weight: bold;
  text-align: center;
  margin: 20px;
}

/* ShopHeader styles (assuming this component exists) */
.shop-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
/* CartPage.css */

/* ... (existing styles) */

/* Styles for the payment form modal */
.payment-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-form {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.close-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

